@import "../../../../styles-variables";

.b-project {
  overflow: hidden;

  &--list-item {
    transition: all .3s ease-in-out;
    box-shadow: 0 0 2rem rgba(0, 0, 255, .1);
    border-radius: 1rem;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &__title-link {
    color: black;
    font-size: 1rem;
    line-height: 1.3;

    &:hover {
      color: $color-secondary;
    }
  }

  &__description {
    font-size: 0.8rem;
    line-height: 1.5;
  }

  &__project-char {
    border: 4px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 4px;
    color: black;
    font-weight: bold;

    &:hover {
      background-color: $color-primary;
    }
  }

}
