@import "../../../styles-variables";

.b-header-top {
  background: $color-top-header;
  color: white;
  min-height: 30px;

  a {
    color: white;
  }
}

.b-header {
  background-color: white;
  border-bottom: 2px solid darken($color-primary, 15%);
  box-shadow: 0 0 2rem rgba(0, 0, 255, .1);
}

.b-app__name {
  text-transform: uppercase;
  margin-left: 5px;
  color: black;
}

.b-languages {
  text-align: right;
  position: absolute;
  top: 0;
  z-index: 999;
  right: 1rem;
  width: 100%;
  padding: 5px;
  font-size: 13px;
}

.b-language {
  margin-left: 1em;
}
