@import "../../../styles-variables";

.b-header {
  background-color: white;
  border-bottom: 2px solid darken($color-primary, 15%);
  box-shadow: 0 0 2rem rgba(0, 0, 255, .1);
}

.b-app__name {
  text-transform: uppercase;
  margin-left: 5px;
  color: black;
}
