@import "../../../styles-variables";

.b-footer {
  background-color: $color-secondary;
  padding: 40px 0 70px 0;
  color: white;

  a {
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }
}
