<div class="container">
  <div class="b-component margin-top-sm">
    <button (click)="goBack()" class="button is-success is-outlined">
      <i class="fas fa-arrow-left"></i>
      <span i18n="go back button|Label used for displaying a go back button">&nbsp;Go back</span>
    </button>
  </div>

  <div class="b-component" *ngIf="!!project">

    <div class="b-project b-project--detail">

      <div class="columns">
        <div class="column is-one-third">
          <figure class="b-project__image-container">
            <img src="{{project.image | generateImageUrl}}"
                 alt="{{ project.title }}" class="b-project__image">
          </figure>

        </div>
        <div class="column">
          <div class="content b-project">
            <h1 class="b-project__title">{{ project.title }}</h1>
            <div class="b-project__year">
              <p>
                <strong i18n="Label used for displaying project's creation date">Created on:</strong> {{ project.created_at }}
              </p>
            </div>

            <div class="b-project__more-link">
              <p>
                <a href="{{project.link}}" target="_blank">
                  <i class="fa fa-external-link-alt"></i>
                  <span i18n="Label used for displaying project's link to get more information">&nbsp;More information</span>
                </a>
              </p>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>

